<form method="post" action="{{ path('app_crud_delete', {'id': geo_j_s_o_n.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ geo_j_s_o_n.id) }}">
    <button class="btn">Delete</button>
</form>
